.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3d4146;
  padding: 0 20px;
  height:60px;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .active-link {
    color: #9f52a4;
  }
}